* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

.header-main {
    width: 100%;
    background: url(./img/header-bg.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}

.header {
    margin: 0 auto;
    display: flex;
}

.container {
    width: 1460px;
    margin: 0 auto;
}

.header-wrapper {
    margin-top: 46px;
    display: flex;
    justify-content: space-between;
}

.logo-img {
    display: flex;
    align-items: center;
}

.phone-img {
    padding-right: 10px;
    padding-left: 25px;
}

.button-call {
    padding: 10px 25px 10px 0;
    text-align: center;
}

.block-content {
    margin: 0 auto;
    display: flex;
}

.first-title {
    margin: 0;
    margin-top: 128px;
    font-family: 'Gilam';
    font-weight: 700;
    font-size: 50px;
    line-height: 28px;
    color: #FFFFFF;
}

.first-info-text {
    margin: 0;
    margin-top: 41px;
    font-family: 'Gilam';
    font-weight: 700;
    font-size: 20px;
    line-height: 28px;
    color: #FFFFFF;
}

.info-cards {
    display: grid;
    grid-template-rows: repeat(2 , 1fr);
    grid-template-columns: repeat(6 , 1fr) ;
    font-family: 'Gilam';
    font-weight: 700;
    text-align: center;
    color: #FFFFFF;
    height: 963px;
    column-gap: 30px;
    row-gap: 27px;
    margin-top: 41px;
}

.item {
    display: flex;
    justify-content: center;
    align-items: center;
}

.item-one {
    background: #634F2C;
    font-size: 20px;
    line-height: 28px;
    grid-column: 1/3;
}

.item-two {
    background: #B4A385;
    font-size: 20px;
    line-height: 28px;
    grid-column: 3/5;
}

.item-three {
    background: #E4B564;
    font-size: 20px;
    line-height: 28px;
    grid-column: 5/7;
}

.item-four {
    background: #635A4A;
    font-size: 20px;
    line-height: 28px;
    grid-column: 1/4;
}

.item-five {
    background: #B08C4D;
    font-size: 20px;
    line-height: 28px;
    grid-column: 4/7;
}

.content-main {
    width: 100%;
    background: url(./img/header-bg.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;

}

.block-park {
    margin: 0 auto;
    display: flex;
}

.second-title {
    margin: 0;
    margin-top: 161px;
    font-family: 'Gilam';
    font-weight: 700;
    font-size: 50px;
    line-height: 28px;
    color: #FFFFFF;
}

.info-cards-second {
    margin-top: 94px;
    margin-bottom: 191px;
    display: grid;
    grid-template-rows: repeat(16 , 1fr);
    grid-template-columns: repeat(12 , 1fr);
    font-family: 'Gilam';
    color: #FFFFFF;
    height: 897px;
    gap: 24px 30px;
}

.card {
    padding-top: 44px;
    padding-left: 52px;
    font-size: 20px;
    line-height: 25px;
}

.card-one {
    font-weight: 400;
    background: #0E0E0E;
    grid-column: span 4;
    grid-row: span 7;
}

.card-two {
    font-weight: 400;
    background: #242424;
    grid-column: span 4;
    grid-row: span 10;
}

.card-three {
    font-weight: 500;
    background: #1F1F1F;
    grid-column: span 4;
    grid-row: span 6;
}

.card-four {
    font-weight: 500;
    background: #1F1F1F;
    grid-column: 1 / 5;
    grid-row: span 14;
}

.card-five {
    font-weight: 500;
    color: #000000;
    background: #E4B564;
    grid-column: 5 / 9;
    grid-row: span 9;
}

.card-six {
    font-weight: 500;
    background: #0E0E0E;
    grid-column: 9 / 13;
    grid-row:  7 / 14;
}

.card-seven {
    font-weight: 700;
    background: #0A0909;
    grid-column: span 4;
    grid-row: span 8;
}

.clients-block {
    width: 100%;
    height: 1293px;
    background: url(./img/parallax-bg.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}

.header-wrapper-clients {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.title-clients {
    margin: 0;
    margin-top: 172px;
    font-family: 'Gilam';
    font-weight: 700;
    font-size: 50px;
    line-height: 28px;
    color: #FFFFFF;
}

.button-projects {
    padding: 10px 40px;
    margin-top: 172px;
}

.all-button {
    text-decoration: none;
    color: #E4B564;
    font-family: 'Circe';
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    border: 1px solid #E4B564;
    display: flex;
    align-items: center;
}

.info-cards-clients {
    display: grid;
    grid-template-rows: repeat(4 , 1fr);
    grid-template-columns: repeat(6 , 1fr);
    height: 782px;
    margin-top: 72px;
}

.card-client {
    display: flex;
    justify-content: center;
    align-items: center;
}

.info-card-one {
    background: #634F2C;
    grid-column: 1/3;
    grid-row: 1/3;
    font-family: 'Gilam';
    font-weight: 600;
    font-size: 22px;
    line-height: 28px;
    text-align: center;
    color: #FFFFFF;
    flex-direction: column;
}

.info-card-two {
    background: rgba(232, 210, 171, 1);
    grid-column: 3/5;
    grid-row: 1/3;
    font-family: 'Gilam';
    font-weight: 600;
    font-size: 22px;
    line-height: 28px;
    text-align: center;
    color: #FFFFFF;
    flex-direction: column;
    
}

.info-card-three {
    background: #E4B564;
    grid-column: 5/7;
    grid-row: 1/3;
    font-family: 'Gilam';
    font-weight: 600;
    font-size: 22px;
    line-height: 28px;
    text-align: center;
    color: #FFFFFF;
    flex-direction: column;
}

.info-card-four {
    background: #635A4A;
    grid-column: 1/3;
    grid-row: 3/5;
    font-family: 'Gilam';
    font-weight: 600;
    font-size: 22px;
    line-height: 28px;
    text-align: center;
    color: #FFFFFF;
    flex-direction: column;
}

.info-card-five {
    background: #B08C4D;
    grid-column: 3/5;
    grid-row: 3/5;
    font-family: 'Gilam';
    font-weight: 600;
    font-size: 22px;
    line-height: 28px;
    text-align: center;
    color: #FFFFFF;
    flex-direction: column;
}

.info-card-six {
    background: #634F2C;
    grid-column: 5/8;
    grid-row: 3/5;
    font-family: 'Gilam';
    font-weight: 600;
    font-size: 22px;
    line-height: 28px;
    text-align: center;
    color: #FFFFFF;
    flex-direction: column;
}

.text-card-client {
    margin: 0;
    margin-top: 16px;
    width: 326px;
    height: 140px;
    display: none;
}
